<% if logged_in? %>
  <script type='text/javascript'>
    window.currentUser = {
            "id": <%= current_user.id %>,
            "username": "<%= current_user.username %>"
          }
  </script>
<% end %>


<!-- 2nd option --->
 <!---<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script> 
<% end %>--->
  


<main id="root"></main>