$dark-blue: rgb(23, 43, 77);
$white: rgb(255, 255, 255);
$light-blue: rgb(0, 121, 191);
$light-grey: rgb(249, 250, 252);
$silver: rgb(192,192,192);
$green: rgb(90, 172, 68);
$mellow-grey: rgb(250, 251, 252);
$hello: rgb(0, 0, 0);