$dark-blue: rgb(23, 43, 77);
$white: rgb(255, 255, 255);
$light-blue: rgb(0, 121, 191);
$light-grey: rgb(249, 250, 252);
$silver: rgb(192,192,192);
$green: rgb(90, 172, 68);
$mellow-grey: rgb(250, 251, 252);
$black: rgb(0, 0, 0);
$grey: rgb(94, 108, 132);
$dark-red: rgb(108, 63, 57);
$alert-grey: rgb(139, 124, 122);
$orange: rgb(235, 90, 70);

