.member-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: black;
  margin-right: -10px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-family: sans-serif;
  
  &.with-image {
    background-size: cover;
    background-position: center;
  }
}

.members-container {
  display: flex;
  align-items: center;
}
