.member-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: -10px;
  display: inline-block;
  vertical-align: middle;

  &.with-image {
    background-size: cover;
    background-position: center;
  }
}
