.desk-show-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url('https://trello-backgrounds.s3.amazonaws.com/SharedBackground/1284x1920/986a001e73329110f17307e6a1fbe258/photo-1552588353-2f2cc7d429e4.jpg');
  background-size: cover;
  background-position: 50%;
}

.desk-header-container{
  background-color: transparent;
  height: 100%;
}

.fixed-top-home.show{
  background-color: rgba(2, 106, 167, 0.4);
}

.nav-bar-home.loggedIn.show{
  background-color: rgba(2, 106, 167, 0.4);
}