.fixed-top-home {
   position: fixed;
   top: 0;
   right: 0;
   right: 0;
   left: 0;
   z-index: 1030; 
   display: block;
  font-family: $san-serif;
  color: $dark-blue;
  background-color: $blue-home;
  height: 40px;
}

.nav-bar-home.loggedIn{
  //  position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   box-sizing: border-box;
  background-color: $blue-home;
  padding: 4px;
  width: 100%;
  max-height: 40px;
  
 }

 .float-left {
  float: left;
  color: $white;
  background-color: transparent; 
  font-family: $caveat;
  font-size: x-large;
  width: 130px;
  height: 50px;
 }

 .float-right {
    float: right;
    display: block;
 }

.btn-logout {
  height: 32px;
  width: 32px;
  padding: 4px 8px;
  border: 1px solid transparent;
  background-image: url('tori.gif');
  border-radius: 100%;
  background-size: cover;
  display: inline-flex;
}

.home-dropdown {
	position: absolute;
	display: none;
	top: 30px;
	right: 0;
	background-color: #fff;
	border: 1px solid $silver;
	border-radius: 3px;
	padding: 10px;
	width: 225px;
	z-index: 1;
	color: $dark-blue;
	font-family: $san-serif;
	text-align: left;
	box-shadow: -1px 4px 6px 1px rgba(0,0,0,0.09);
	font-weight: initial;
  font-size: 14px;
}

.btn-logout.active .home-dropdown{
	display: block;
}

.shadowed-text{
  font-size: 9pt;
  color: $grey;
  display: block;
}


//Desks -----
.home-container{
  width: 100%;
  height: 2025px;
}
.home-sticky-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.home-left-sidebar{
  margin: 70px 0 0 0;
  padding: 0 16px;
  width: 240px;
}

.desk-page{
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
}

.li-items{
  margin-bottom: 12px;
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

}

.li-h{
  margin-bottom: 4px;
  min-width: 200px;
  height: 20px;
  font-weight: 700;
  padding: 6px 8px 6px 0;
  color: rgb(23, 43, 77);
  display: flex;
  align-items: center;
}

.li-h.active {
  background-color: rgb(228, 240, 246);
  color: rgb(0, 121, 191);
  border-radius: 4px;
}
.li-h:hover {
  background-color: $silver;
  border-radius: 4px;
  cursor: pointer;
}

.shadowed-text.big{
  font-size: 14px;
  color: rgb(94, 108, 132);
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 16px;
  padding: 8px 0;
  text-transform: uppercase;
}

.desk-tile{
  width: 195px;
  height: 95px;
  padding: 8px;
  border-radius: 3px;
  display: block;
  background-color: $green;
  color: $white;
  cursor: pointer;
  margin: 8px;
}

.desk-tile-details{
  width: 170px;
  height: 80px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}

.desk-tile-name{
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  width: 100%;
  max-height: 40px;
}

h3.h3-home{
  font-family: $caveat;
  color: $white;
  margin: 0;
  cursor: pointer;
  display: inline-block;
  height: ;
}

.desk-index{
  margin-top: 32px;
}
