.fixed-top-home {
   position: fixed;
   top: 0;
   right: 0;
   right: 0;
   left: 0;
   z-index: 1030; 
   display: block;
  
  font-family: $san-serif;
  color: $dark-blue;
  background-color: $light-blue;
}

.nav-bar-home.loggedIn{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   box-sizing: border-box;
   overflow: hidden;
  background-color: $blue-home;
  padding: 4px;
  width: 100%;
  height: 31px;
  max-height: 40px;
  
 }

 .float-left {
  float: left;
  color: $white;
  background-color: transparent; //yes -> rgb(0 0 0 / 0%)
  font-family: $caveat;
  font-size: x-large;
  width: 130px;
  height: 50px;
 }

 .float-right {
    float: right;
    display: block;
 }



.btn-bg-home.loggedIn {
  height: 32px;
  width: 32px;
  padding: 4px 8px;
  border: 1px solid transparent;
  // background-color: $white;    
  background-image: url('tori.gif');
  border-radius: 5px;
}

//Desks??/
.desk-item-btn{
  color: $light-blue;
  padding: 4px 8px;
  border: 1px solid transparent;
  background-color: $white;
  border-radius: 5px;
}

