.list-index-container{
  display: flex;
}

.list-wrapper{
  width: 272px;
  margin: 6px 4px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.list-item{
  background-color: rgb(235, 236, 240);
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
}

.list-title-cont{
  flex: 0 0 auto;
  padding: 10px 18px;
  position: relative;
  min-height: 20px;
  display: flex;
  justify-content: space-between;
}

.list-extras{
  padding-top: 3px;
  height: 28px;
}