

 .fixed-top {
   position: fixed;
   top: 0;
   right: 0;
   right: 0;
   left: 0;
   z-index: 1030; 
   display: block;
  font-family: $san-serif;
  color: $dark-blue;
  background-color: $light-blue;
 }

 .nav-bar{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px;
   -webkit-box-pack: justify;
  
 }

 .float-left {
  float: left;
  color: $white;
  background-color: transparent; 
  font-family: $caveat;
  font-size: x-large;
  width: 130px;
  height: 50px;
 }

 .float-right {
    float: right;
    display: block;
    .btn {
      background-color: transparent;
      padding: 5px;
      text-decoration: none;
      display: inline-block;
      vertical-align: middle;
      border: 1px solid transparent;
    }
    .btn-sm {
      color: $white;
      padding: 6px 12px;
      border: 1px solid transparent;
    }
    .btn-bg {
      color: $light-blue;
      padding: 9px 18px;
      border: 1px solid transparent;
      background-color: $white;
      border-radius: 5px;
    }
    
   .btn-sm:hover {
      text-decoration: underline;
   }
 }

 .intro-container{
   width: 100%;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
 }

 .intro-text{
  text-align: left;
  color: $white;
  padding-right: 30px;
   padding-left: 30px;
   margin-right: auto;
   margin-left: auto;
 }

.intro-text-big{
  font-size: 48px;
  font-family: $san-serif;
}

.lead{
  font-family: $san-serif;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 24px;
  margin-top: 0;
}
