// .nav-bar {
//    display: flex;
//    justify-content: space-between;
//    padding: 20px;
//    background: lightblue;
//    align-items: center;
//    .btn {
//      background-color: white;
//      padding: 10px;
//      box-shadow: 3px 3px 3px darkblue;
//      text-decoration: none;
//    }
//    .btn:hover {
//     background-color: rgb(240, 240, 240);
//     box-shadow: 1px 1px 1px darkblue;
//    }
//  }

 .fixed-top {
   position: fixed;
   top: 0;
   right: 0;
   right: 0;
   left: 0;
   z-index: 1030; 
   display: block;
  //  box-sizing: border-box; ??
  font-family: $san-serif;
  color: $dark-blue;
  background-color: $light-blue;
 }

 .nav-bar{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
  //  flex-wrap: wrap; ??
   padding: 20px;
   -webkit-box-pack: justify;
   
 }

 .float-left {
  float: left;
  color: $white;
  background-color: transparent; //yes -> rgb(0 0 0 / 0%)
  font-family: $caveat;
  font-size: x-large;
  width: 130px;
  height: 50px;
 }

 .float-right {
    float: right;
    display: block;
    .btn {
      background-color: transparent;
      padding: 5px;
      // box-shadow: 3px 3px 3px darkblue;
      text-decoration: none;
      display: inline-block;
      vertical-align: middle;
      border: 1px solid transparent;
    }
    .btn-sm {
      color: $white;
      padding: 6px 12px;
      border: 1px solid transparent;
    }
   .btn:hover {
    text-decoration: underline;

   }
 }

 