.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 125px;
  left: 50%;
  transform: translate(-50%, -50%);
}

//---------__DESK FORM
.desk-form-container {
  // position: relative;
  // top: 150px;
  // margin-bottom: 80px;
}

.desk-form-box {
  width: 25vw;
  height: 16vw;
  outline: 1px solid black;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  background-image: url("https://ondesk-dev.s3-us-west-1.amazonaws.com/desert.jpeg");
  background-size: cover;
  background-position: 50%;
  border-radius: 3px;
}

.desk-form {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.desk-input {
  font-size: clamp(10px, 1.4vw, 33px);
  color: white;
}

.desk-input:focus {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}
.desk-input::placeholder {
  color: white;
}

.close-x {
  font-size: clamp(10px, 1.4vw, 33px);
  color: $white;
  font-weight: lighter;
  padding: 5px 5px 10px 5px;
  cursor: pointer;
}

.desk-submit {
  background-color: $white;
  width: 86px;
  height: 19px;
  border-radius: 5px;
  padding: 6px 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  cursor: not-allowed !important;
  font-size: 14px;
  font-family: $apple;
  text-align: center;
  transition: background-color 1s;
}

.desk-submit.allowed {
  cursor: pointer !important;
  background-color: $green;
  color: $white;
}

.desk-background {
  padding: 5px;
  display: flex;
  width: 25vw;
  flex-wrap: wrap;
  justify-content: center;

  div {
    position: relative;
  }

  img {
    width: 4.5vw;
    height: 4vw;
    padding: 5px;
  }

  i {
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 43%;
    color: white;
    font-size: clamp(5px,0.8vw,22px);
  }
}

@media (max-height: 900px) {
}
