.paper-index-container{
  margin: 0 4px;
  padding: 0 4px;
  min-height: 1px;
  height: auto;
}

.paper-wrapper{
  background-color: $white;
  margin: 10px 3px;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 25%);
  cursor: pointer;
}

.paper-item{
  font-size: 21px;
  padding: 4px 10px;
  color: rgb(23, 43, 77);
  word-break: break-all;
  cursor: pointer;
  font-family: $san-serif;
}

.paper-form{
  display: none;
}

.paper-form-input{
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 25%);
  cursor: pointer;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 60px;
  position: relative;
  text-decoration: none;
  z-index: 0;
  padding: 5px 2px;
  font-size: 16px;
  margin: 8px 11px 8px 8px;

  input {
    width: 100%;
  }
  
}

.p-form{
  i {
    padding: 6px 0;
    opacity: 0.8;
    font-size: 16px;
    cursor: pointer;
    margin-left: 120px;
  }
  i:hover {
    opacity: 0.6;
  }
}



.paper-btn{
  font-size: 16px;
  background-color: $green;
  margin: 0px 5px 10px 9px;
  border-radius: 5px;
  padding: 4px 10px;
  color: white;
}

.paper-btn:hover{
  background-color: rgba(90, 172, 68, 90%);
}


.single-paper{
  flex: 0 0 auto;
  font-size: 17px;
  position: relative;
  min-height: 20px;
  display: flex;
  justify-content: space-between;
}

.paper-extras{
  padding-top: 4px;
  font-size: 12px;
  padding-left: 7px;
  
  .delete-paper{
    display: none;
    position: absolute;
    background-color: rgb(235, 236, 240);
    min-width: 200px;
    box-shadow: 5px 4px 16px 0px rgba(0, 0, 0, 80%);
    padding: 5px 5px 12px;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    font-size: 15px;
    color: rgb(139, 0, 0);
    margin-top: -13px;
    h5{
      margin: 10px;
      color: rgb(112, 128, 144);
      cursor: default;
      font-size: 16px;

    }
    div {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    div:first-of-type {
      color: blue;
    }

    div:nth-of-type(2){
      color: green;
    }

    div:hover{
      background-color: rgba($grey, 50%);
      border-radius: 5px;
    }

  }
}


.paper-extras:hover .delete-paper{
  display: block; 
}

.paper-edit-container{
  display: none;
  font-size: 16px;

  form{
    display: flex;
  }
  button{
    background-color: rgb(211, 211, 211);
    border-radius: 8px;
    box-shadow: 0px 2px 3px 0px rgba(9, 30, 66, 25%);
    height: 24px;
    font-size: 10px;
    margin-top: 2px;
    margin-left: 5px;
    transition: background-color 0.5s;
  }
  button:hover{
    background-color: rgb(255, 255, 255);
  }
}

.paper-description{
  width: 600px;
  height: 600px;
  background-color: rgb(211, 211, 211);
  z-index: 1;
  margin-top: 700px;
  font-size: 25px;
  text-align: center;
  font-family: $san-serif;
  border-radius: 5px;
  overflow: auto;

  h1:first-of-type {
    i{
      padding-right: 15px;
    }
    font-size: 20px;
    font-family: sans-serif;
    text-align: start;  
    padding: 30px 0 5px 42px;
  }

  .desc-div{
    border: 1px solid rgb(33, 107, 165);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
  }

  textarea{
    text-align: initial;
    font-size: 18px;
  }
  
  .paper-create{
    padding: 10px;
    margin: 10px 40px 10px 40px;
    box-shadow: 0px 1px grey;
  }

  button{
    border: 1px solid rgb(128, 128, 128);
    margin: 10px 5px 5px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 1px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 0.5s;
  }

  button:hover{
    background-color: rgb(169, 169, 169);
  }
}

.paper-title-desc{
  padding: 15px 40px 0 40px;
  text-align: center;
  font-family: $san-serif;
  word-break: break-all;

  i{
    padding-right: 15px;
    font-size: 20px;
  }
}

@media (max-height: 900px){
  .paper-description{
    width: 300px;
    height: 400px;
    overflow: auto;
    font-size: 20px;
    margin-top: 400px;

    i{
      font-size: 20px;
    }
  }
  .paper-create{
    width: 200px;
    height: 300px;
  }
  .paper-description {
    h1:first-of-type {

      font-size: 15px;
    }
    button{
      font-size: 12px;
    }
  }

}

