.paper-index-container{
  margin: 0 4px;
  padding: 0 4px;
}

.paper-wrapper{
  background-color: $white;
  margin: 10px 3px;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 25%);
  cursor: pointer;
}

.paper-item{
  font-size: 21px;
  padding: 4px 10px;
  color: rgb(23, 43, 77);
}

.paper-form{
  display: none;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  // box-shadow: 0 1px 0 rgb(9, 30, 66, 25%);
  cursor: pointer;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  text-decoration: none;
  z-index: 0;
}
