.comments-container {
  .comments-activity {
    margin: 5px;
    font-size: initial;
    font-weight: 700;

    i {
      margin-right: 5px;
    }
  }
}

.comment-create {
  input {
    font-size: 16px;
    text-align: initial;
    width: 75%;
  }

  button {
    padding: 4px;
    font-size: 12px;
    margin: 0;
  }
}

.comment-body,
.comment-create {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  background-color: white;
  padding: 8px 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.comment-author {
  display: flex;
  margin: 10px 0 5px 0;
}

.time {
  padding-left: 25px;
  font-size: 15px;
}

.comments-box {
  height: 171px;
  overflow: auto;
}

.manipulate-comment {
  display: flex;
  padding: 2px;

  div {
    display: flex;
    font-size: 12px;
    text-decoration: underline;
    text-align: initial;
    cursor: pointer;
    padding-right: 5px;
  }

  div:hover {
    text-decoration: none;
  }
}

.update-comment {
  display: none;
  font-size: 16px;
  font-family: sans-serif;
  text-align: initial;
  width: 236px;
  color: rgb(23, 43, 77);
  border: 1px solid $grey;
  border-radius: 5px;
  padding: 0px 0px 12px 10px;
  background-color: $white;

  form.edit-com-form {
    height: 20px;

    input {
      margin-top: 0;
    }
    button.upd-btn {
      border: 1px solid rgb(128, 128, 128);
      border-radius: 5px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0 1px;
      font-size: 10px;
      transition: background-color 0.5s;
      margin-top: 0;
      margin-right: 0;
    }
  }
}

// @media (max-height: 900px) {
//    .comments-container {

//     h1.activ {
//       font-size: 15px;
//     }
//   }

//   .comment-create{
//     input{
//       font-size: 12px;
//       width: 45%;
//     }
//     button{
//       font-size: 9px;
//     }
//   }
//   .comment-body{
//     font-size: 13px;
//     width: 38.3%;
//   }
// }
