

.comments-container{
  
  h1{
    font-size: 22px;
    font-family: sans-serif;
    text-align: start;
    padding: 5px 0 5px 37px;
  }
}

.comment-create{
  display: flex;
  justify-content: space-between;
  padding: 5px !important;
  width: auto;
  margin: 0 40px;
  padding: 0;
  border: 1px solid rgb(0, 0, 255);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);

  input{
    font-size: 16px;
    text-align: initial;  
    width: 75%;

  }

  button{
    padding: 4px;
    font-size: 14px;
    margin: 0;
  }
}

.comment-item{
  width: 518px;
  margin: 5px 40px;
}

.comment-body{
  font-size: 16px;
  font-family: sans-serif;
  text-align: initial;
  width: fit-content;
  color: rgb(23, 43, 77);
  border: 1px solid $grey;
  border-radius: 5px;
  padding: 5px;
  background-color: $white;

}

.comment-author{
  font-size: 16px;
  font-family: sans-serif;
  text-align: initial;
  width: fit-content;
}