// Place all the styles related to the api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.session-form {
   display: flex;
   flex-direction: column;
    height: 608px;
    max-width: 400px;
    margin: auto;
   justify-content: center;
   align-items: center;
   form {
     width: 320px;
     background: $white;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border-radius: 3px;
     padding: 25px 40px;
     box-shadow: 0 0 10px $silver;
   }
   
   h1{
     display: block;
     margin: 10px 0px 50px 0px;
     font-family: $san-serif;
     font-weight: bold;
     font-size: 16px;
     width: 320px;
     height: 27px;
     text-align: center;
     color: $grey;
    }
    .acc-btn {
      background-color: $green;
      width: 290px;
      text-align: center;
      border-radius: 5px;
      margin-bottom: 0;
      color: $white;
      font-family: $san-serif;
      font-size: 16px;
      font-weight: bold;
      display: inline-block;
      padding: 10px 20px;
      position: relative;
      border: 0px;

    }
    input {
      margin: 0 0 20px;
    }
    .form-field{
      width: 308px;
      height: 26px;
      border: 2px solid $silver;
      margin-bottom: 16px;
    }
    .a{
    text-decoration: underline;
  }
}

.form-field.inner-section{
  background-color: $mellow-grey;
  font-size: 14px;
}


.acc-btn.blue {
  background-color: $light-blue;
}

h6{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;
  color: $grey;
}

.logo{
  display: flex;
  position: relative;
  color: $light-blue;
  // background-color: transparent; //yes -> rgb(0 0 0 / 0%)
  font-family: $caveat;
  font-size: 50px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
   
  }

.session{
  background-color: $light-grey;
  width: 100%;
  height: 1065px;
}


.session-errors {
  background-color: $orange;
  color: $white;
  width: 260px;
  height: 17px;
  padding: 7px 14px;
  border: 1px solid $silver;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-block-start: 16px;
  margin-block-end: 16px;
  border-radius: 4px;
  display: none;
  font-size: 16px;
  // font-family: $apple;
}
.session-errors.err-on {
  display: inline-block;
}

#signup{
  width: 289px;
  height: 40px;
}


/* Solid border */
hr.solid {
  display: block;
  border-top: 1px solid rgb(204, 204, 204);
  margin: 25px 0 14px 0;
  width: 100%;
}

.hr{
  font-size: 14px;
  font-family: $san-serif;
  color: blue;
  text-decoration: none;
  padding: 0;
}
.hr:hover{
  text-decoration: underline;
}

.small-text{
  font-size: 14px;
  font-family: $san-serif;
  color: $grey;
  text-decoration: none;
  padding: 6px 0 6px 0;
}
