// Place all the styles related to the api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 90vh;
   justify-content: center;
   align-items: center;
   form {
     height: 300px;
     width: 300px;
     background: rgb(240, 240, 240);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
  }